/.metadata/
.metadata/.lock
RemoteSystemsTempFiles/.project
IoTFirmware/.project
IoTFirmware/.settings/language.settings.xml
IoTFirmware/.settings/org.eclipse.cdt.core.prefs
IoTFirmware/.ino.cpp
IoTFirmware/.cproject
