/.metadata/
.metadata/.lock
RemoteSystemsTempFiles/.project
IoTFirmware/.project
IoTFirmware/.settings/language.settings.xml
IoTFirmware/.settings/org.eclipse.cdt.core.prefs
IoTFirmware/.cproject
IoTFirmware/.ino.cpp
IoTFirmware/Release/
IoTFirmware/core/
IoTFirmware/.cproject
IoTFirmware/.ino.cpp
IoTFirmware/Release/makefile
